html{
    font-size: 62.5%;
}

body{
    // font-family: 'Time';
    color: #222222;
    font-size: 1.4rem;

    position: relative;
    /* max-width: 192.0rem; */
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    border: 0.1rem solid #a2a1bf; 
}

figure{
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

input{
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

h1, h2, h3, p{
    margin: 0;
}

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

.row{
    max-width: 1170px;
}

.overlay{
    background-color: #f7941d;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.35;
}

.page-title{
    font-family: 'Raleway';
    text-align: center;
    text-transform: uppercase;
    
    p{
        display: inline-block;
        background-color: #f7941d;
        padding:0 0.5rem; 

        font-size: 1.3rem;
        color: #ffffff;
        font-weight: $font-weight-medium;
    }

    h2{
        font-size: 2.5rem;
        color: #23282f;
    }
}

button{
    padding: 1.5rem 3rem;

    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Karla';
    font-weight: $font-weight-bold;

    background-color: #f7941d;

    border-radius: $small-border-radius;

    &:hover{
        background-color: #29c2e1;
    }
}

/*-------------------------------
------------ HEADER -------------
-------------------------------*/

header{
    font-family: "Karla";
    
   .top-bar{
        padding: 1.2rem 0;

        background-color: #1f2629;

        text-align: right;
        font-size: 1.6rem;
        color: #bac7cd;

        .phone{
            color: #7b8990;
        }
   }
    
   .navigate{
        padding: 2.4rem 0;
   }

   .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 3.5rem;

        text-transform: uppercase;
        font-size: 1.45rem;

        a{
            color: #93a1a7;

            &.selected{
                color: #23282f;
            }
        }
   }
}

/*-------------------------------
------------ HOME ---------------
-------------------------------*/

.home{
    @include base-markup-for-pages(28rem, 3.2rem, #8d8d8d);
    background-image: url(../images/home_background.jpeg);

    text-transform: uppercase;
    text-align: center;
    font-family: 'Raleway';
    color: #ffffff;

    .slogan{
        position: relative;

        p{
            font-size: 2.4rem;
        }
    
        h1{
            font-size: 6rem;
            font-weight: $font-weight-extrabold;
    
            line-height: 2;
        }
    }


    &__button{
        margin-top: 2.2rem;
        margin-bottom: 18rem;
    }

    .subscribe{
        border-radius: $small-border-radius;
        background-color: rgba($color: #0d0e12, $alpha: 0.6);
        position: relative;

        padding: 2.3rem 0;

        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 0; top:0; bottom: 0;
            margin: auto;

            width: 0.4rem;
            height: 3.4rem;
            background-color: #f7941d;    
        }

        p{
            padding-left: 4rem;
            padding-right: 5.5rem;

            position: relative;
            height: 4.4rem;

            font-weight: $font-weight-extrabold;
            color: #e6eef2;
            font-size: 2.2rem;
            text-align: left;
            line-height: 1;

            &:before{
                content: 'SIGNUP';
                display: inline-block;
                padding: 0.15rem 0.3rem;

                background-color: #f7941d;

                font-size: 1.2rem;
                font-weight: $font-weight-medium;
            }

            &:after{
                content: ":";
                position: absolute;
                right: 4rem; top: 1.6rem;

                font-family: 'Karla';
                font-weight: $font-weight-bold;
                font-size: 1.8rem;
            }
        }

        .form{
            display: flex;
            padding: 0;
            padding-right: 2.3rem;

            input[type="text"]{
                border-radius: $small-border-radius;
                flex-grow: 2;

                margin-right: 1rem;
                padding-left: 2rem;

                &::placeholder{

                    text-transform: uppercase;
                    font-family: 'Karla';
                    font-size: 1.3rem;
                    color: #55595f;
                }
            }

            button{
                flex-grow: 0.3;
            }
        }
    }
}

/*-------------------------------
---------- ABOUT US -------------
-------------------------------*/

.about-us{
    @include base-markup-for-pages(10rem, 10rem);

    .page-title{
        padding-bottom: 4.5rem;
    }

    .photo{
        background-image: linear-gradient(to left, #e5eef0, #e5eef0); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 96% 80%;

    }

    .img-wrap{

        margin: 0 auto;
        width: 47.5rem;
        height: 30.8rem;

        overflow: hidden;

        img{
            max-width: 100%;
        }
    }

    article{
        padding-top: 3.5rem;
        padding-left: 4.5rem;
        padding-right: 2rem;

        .content{
            padding-bottom: 4.5rem;
            
            font-family: 'OpenSans';
            color: #55595f;
            line-height: 2.4rem;
        }



    }
}

/*-------------------------------
---------- SERVCES --------------
-------------------------------*/

.services{
    @include base-markup-for-pages(10rem, 4rem, #e5eef0);

    .page-title{
        padding-bottom: 4.5rem;
    }
    
    .icon{
        width: 6.8rem;
        height: 6.8rem;

        border: 0.1rem solid #23282f;

        background-repeat: no-repeat;
        background-position: center;

        &.selected{
            background-color: #29c2e1;
            border-color: #29c2e1;
        }

        &.data-entry{
            background-image: url(../images/services/data_entry.png);
        }
        
        &.client-management{
            background-image: url(../images/services/client_management.png);
        }
        
        &.better-communication{
            background-image: url(../images/services/better_communication.png);
        }
        
        &.well-analyzing{
            background-image: url(../images/services/well_analyzing.png);
        }
        
        &.hour-support{
            background-image: url(../images/services/hour_support.png);
        }
        
        &.keeping-data{
            background-image: url(../images/services/keeping_data.png);
        }
    }

    .item{
        font-family: 'OpenSans';
        color: #55595f;
        line-height: 2.4rem;

        padding-bottom: 5rem;

        p{
            padding-bottom: 0.5rem;

            color: #23282f;
            font-family: 'Raleway';
            font-size: 2rem;
            font-weight: $font-weight-medium;
        }

    }
}