html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins';
    color: #222222;
    font-size: 1.4rem;

    position: relative;
    /* max-width: 192.0rem; */
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    /* border: 0.1rem solid #a2a1bf; */
}

figure{
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

input{
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

h1, h2, h3{
    margin: 0;
}